@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgba(175, 175, 175, 0.39);
    color: rgb(37, 37, 37);

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;

}
 .avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
 
}

.general p {
 color: rgba(46, 46, 46, 0.89);
 margin: 0;
 font-style: italic;
 word-spacing: normal;
}

.content {
max-width: 850px;
margin:auto;
padding: 30px;
}  

.social {
 background: rgba(150, 148, 148, 0.288);
 padding: 6px 30px;
 border: 5px solid rgb(90, 90, 90);
 margin: 5px;
 border-style:dotted;

}

a {
    color: rgb(56, 56, 56);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

/* a:visited {
    color: rgb(0, 0, 0);
} */

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0;
 width: 110%;
  margin-left: -5%;
}

.bg-yellow {
    background: #fff7d162;
}

.bg-green {
    background: #bfffc465;
        
}

.bg-red {
    background: #fabfbf54;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2 {
    margin-bottom: 13px;
}

.list {
    padding: 0px 20px;
    list-style: none;
}

.list li {   
    color: rgb(53, 52, 52); 
    margin-bottom: 0.5px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table td {
    padding-bottom: 5px;
    padding-top: 5px;
} 

.table td:nth-child(3),
.table td:nth-child(4),
.table td:nth-child(2)    {
    color: rgb(90, 90, 90);
}

.link-list {
    list-style: square;
    color: rgb(53, 52, 52)
    };

.link-list li {
 margin-bottom: 5px;
}

.contact h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 16px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-style: italic;
    font-family: inherit
}
 .row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}

.row > .form-group:last-child {
    margin-right: 0;
}

.general {
    display: flex;
}

@media (max-width: 768px) {
    .row > .form-group {
        width: 100%;
        margin-right: 0;
    }

    .general {
        flex-direction: column;
    }

    .general > .avatar {
        margin-bottom: 20px;
    }
    
}

.info {
    margin-left: 35px;
}

.info h4 {
    margin-bottom: 10px;
}

.btn {
color: #111;
padding: 15px 20px;
background: rgba(175, 175, 175, 0.39);
border: none;
font-family: inherit;
cursor: pointer;
}

.btn:hover {
    background: rgba(202, 201, 201, 0.39);
}